!install.sh
!extras
!*/*.json
*/*.jar
*/eula.txt
**/cache/*.jar
**/mods/*.jar
**/*.lock
**/logs/*.*
**/world*
**/*.log
**/*.log.txt
**/libraries
**/.mixin.out
.*
*-spigot/BuildData
*-spigot/Bukkit
*-spigot/Spigot
*-spigot/work
*-spigot/Bukkit-Patches
*-spigot/CraftBukkit
*-spigot/apache-maven*