*.jar
**/*.lock
**/logs/*.*
**/world*
**/*.log
**/*.log.txt
**/libraries
start-*.*
**/.mixin.out
**/eula.txt
.*
*-spigot/BuildData
*-spigot/Bukkit
*-spigot/Spigot
*-spigot/work
*-spigot/Bukkit-Patches
*-spigot/CraftBukkit
*-spigot/apache-maven*